* {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f6f8;
  color: #222;
  min-height: 100vh;
}

#grid {
  width: min(80vw, 40vh);
  aspect-ratio: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

#next-grid {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
  gap: 2px;
}

#next-grid .cell {
  width: 30px;
  height: 30px;
}

.cell {
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid #ccc;
}


.filled {
  background-color: steelblue;
}


.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel {
  background: white;
  padding: 20px;
  border: 2px solid #ccc;
  min-width: 160px;
  text-align: center;
}

.panel h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

#score {
  font-size: 28px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #2d89ef;
  color: white;
  border-radius: 6px;
}

button:hover {
  background-color: #1b5fa7;
}

.active {
  background-color: red;
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.middle {
  display: flex;
  gap: 10px;
}

.arrow {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

.arrow:hover {
  background-color: #666;
}