* {
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: Arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  width: min(80vw, 40vh);
  aspect-ratio: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.cell {
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid #ccc;
}

.filled {
  background-color: steelblue;
}